<input #graphSearch
        [(ngModel)]="searchString"
        [placeholder]="placeholder"
        (focusin)="searchList($event)"
        (focusout)="closeSearch()"
        (keydown)="navigateList($event)"
        (keyup)="searchList($event)">
    <div class="result-list" *ngIf="showSearchResults"
        appTether
        [appTetherTarget]="graphSearch"
        [appTetherTargetAttachment]="'bottom left'"
        [appTetherAttachment]="'top left'"
        [appTetherOffset]="'0px 0px'">

        <div *ngIf="!searchResults.length" class="no-results">
            No results
        </div>

        <ul>
            <li *ngFor="let result of searchResults"
                app-graph-search-result
                [isControlBar]="isControlBar"
                [currentParentId]="currentParentId"
                [item]="result"
                [itemName] = "itemName(result)"
                title="{{itemName(result)}}"
                [filterIds]="graphModelIdsForFiltering"
                (resultSelected)="onSelectResult($event)">
            </li>
        </ul>
    </div>
