<div *ngIf="isPast">
    <actual-projected-toggle
            [editingActual]="editingActual"
            (selectedOption)=changeEditorType($event)></actual-projected-toggle>
</div>
<div *ngIf="editingActual">
    <edit-actual-value
        [value]="frame.actualValue"
        [fwdKeyEvent]="fwdKeyEvent"
        [sheetId]="sheetId"
        (enterPressed)="onEnterPressed($event)"
        class="edit-actual-value"></edit-actual-value>
</div>
<div *ngIf="!editingActual">
    <timesegment-edit
        class="timesegment-edit"
        [timesegment]="timesegment"
        [variable]="variable"
        [variableList]="variableList"
        [fwdKeyEvent]="fwdKeyEvent"
        [sheetId]="sheetId"
        (enterPressed)="onEnterPressed($event)"
        (closeEditor)="onCloseEditor($event)"></timesegment-edit>
</div>


