<div *ngIf="user.id === null" style="width: 100%">
    <input autofocus
           #userSearch
           [(ngModel)]="searchResult"
           placeholder="Select a user/group"
           (focusout)="closeList()"
           (keydown)="navigateList($event)"
           (keyup)="searchUsers($event)">

       <div class="user-list" *ngIf="showSearchResults$ | async">

           <div *ngIf="!usersList.length" class="no-user">
               No user or group found
           </div>
           <ul >
               <li *ngFor="let usr of usersList"
                  fc-user-picker-search
                   [user]="usr"
                   (userSelected)="updateUser($event)">
               </li>
           </ul>
       </div>
</div>
<div *ngIf="user.id">
   <label
       fc-user-picker-search
       [user]="user">{{user}}
   </label>
</div>