.dropdown-menu, .btn {
    width: 100%;
}

.btn {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: inherit;
}

.dropdown-menu {
    margin-top: 0%;
    display: none;
    position: absolute;
    white-space: nowrap;
    min-width: 180px;
    border-top: 0;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .btn{
    background: #CCCCCC;
}

.btn{
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.btn:focus {
    outline: none;
  }

  .btn:active {
    box-shadow: none;
 }

a {
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    font-size: inherit;
}
