.details-label {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
}

.checkbox-group {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.checkbox-group label {
  flex: 0 0 50%;
  margin: 0;
  font-weight: normal;
}

input[type="checkbox"] {
  margin: 4px 4px 4px 0;
}

:host.sm .checkbox-group label {
  flex: 0 0 100%;
}

select, input[type="text"], input[type="number"], input[type="month"] {
  display: block;
  margin-top: 5px;
    color: white;
}

label {
  margin-bottom: 10px;
  padding-bottom: 6px;
}

input[type="checkbox"] {
  margin-left: 5px;
}

input{
    color: white;
}
.default-param {
  padding: 4px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.fa-circle {
    padding-right: 5px;
}
