:host {
    color:black;
}

.selected-label {
    background-color: white;
    color:black;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 4px;
    cursor: pointer;
}

.selected-label div {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-display {
    z-index: 1000;
    width: 500px;
    background-color: white;
    padding:8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-radius: 4px;
}

span {
    display: inline-flex;
    flex: 1;
    margin: auto;
    justify-content: flex-end;
}