<div>
    <table>
        <tr>
            <td>
                <fc-user-picker
                     (onUpdateUser)="updateEntity($event)"
                     [user]="aclEntry"
                     [omit]="omit"
                     [users$]="users$"
                     [usergroups$]="usergroups$">
                </fc-user-picker>
            </td>
            <td>
                <fc-permission-select
                    (onUpdatePermission)="updatePermission($event)"
                    [permission]="userPermission">
                </fc-permission-select>
            </td>
            <td><span (click)="removeAccess()"><i class="fas fa-times"></i></span></td>
        </tr>

    </table>
</div>