input[type=text] {
    width: 120px;
    padding: 5px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-image: initial;
    border-radius: 4px;
}

label {
    font-weight: normal;
    margin-bottom: 5px;
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    display: block;
}

li {
    margin-bottom: 5px;
}

li:first-child {
}

input[type="checkbox" i] {
    margin: 3px 4px 3px 4px;

}
