<nav class="navbar navbar-inverse" data-testid="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" routerLink='/forecast_graphical' ></a>
      </div>
      <div style="vertical-align: middle;" class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">
          <li class="active title" data-testid="navbar-home-page">
            <a href="" routerLink="">
              <img src="assets/images/att-logo.png">
              <span>GREENSIGHT</span>
            </a>
          </li>
          <li *ngIf=!hideNavIcons class="navigation-icon" data-testid="navbar-forecast">
            <a [routerLink]="['/forecast_graphical']" [routerLinkActive]="['selectedMenu']" title="Forecasts">
                <h4><b>Forecasts</b></h4>
            </a>
          </li>
          <li *ngIf=!hideNavIcons class="navigation-icon" data-testid="navbar-system-model">
            <a *ngIf="showSystemModel" [routerLink]="['/system-models']" [routerLinkActive]="['selectedMenu']" title="System Models">
              <h4><b>System Models</b></h4>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li>
              <form class="navbar-form pull-left">
                  <ng-content *ngIf=showProjectCombo>
                  </ng-content>
                  <button *ngIf=!isLoginPage class="btn btn-primary" type="button"  [routerLink]="['/settings']">Settings</button>
                  <button *ngIf=!isLoginPage href="#" class="logout-button btn btn-info" (click)="logout($event)">Logout {{userName}}</button>
              </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
