<div *ngIf="isLoading">
    <!--display spinner-->
    <div id='loader-overlay'>

    </div>
</div>
<div *ngIf="!isLoading" data-testid="project-dialog">
    <h1 mat-dialog-title>Welcome!</h1>
    <mat-dialog-content>
        <p style="margin-bottom: 20px">Please select an available project or create a new one to get started:</p>
        <div class="row">
        <div class=col-md-6>
            <label for="">Available Projects</label>
            <ul class="list-group">
                <li
                class="list-group-item" 
                *ngFor="let project of projectList"
                (click)="selectProject(project.id)">{{project.title}}</li>
            </ul>
        </div>
        <div class="col-md-6">
            <form novalidate #newProjectForm ="ngForm" (ngSubmit)="onCreateProject(newProjectForm)" style="height:100%">
                <label for="">Create New Project</label>
                <div class="form-group">
                    <input  
                    required 
                    pattern="[0-9a-zA-Z_-]+" 
                    name="name" 
                    [(ngModel)]="newProjectTitle"
                    #projectName="ngModel" 
                    type="text" 
                    class="form-control"
                     placeholder="New Project Name">
                    <div *ngIf="projectName.errors?.required && projectName.touched" class="text-danger">
                        A project name is required
                    </div>
                    <div *ngIf="projectName.errors?.pattern" class="text-danger">
                        Names can only include Alphanumerical characters, underscores and hyphens
                    </div>
                    <div *ngIf="errorMessage !=='' && !projectName.dirty" class="text-danger">
                        {{errorMessage}}
                    </div>
                </div>
                <button [disabled]="newProjectForm.invalid" type="submit" class="btn btn-primary pull-right" >
                    Create
                </button>
            </form>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button (click)="closeDialog()" class="btn btn-primary pull-right"> Cancel </button>
            </div>
        </div>
    </mat-dialog-content>
</div>
