<div class="hoist" [ngClass]="{'': !invalid,  'invalid': invalid}">
    <input [(ngModel)]="timesegment.value" #inputProjected
           (keydown)="onKeyDown($event)" (keydown.space)="$event.preventDefault()">
</div>

<div class="horizontal-flow"
    *ngWormhole="'#editor-target'"
    appTether
    [appTetherTarget]="inputProjected"
    [appTetherTargetAttachment]="'bottom left'"
    [appTetherAttachment]="'top left'"
    [appTetherOffset]="'0px 0px'">
    <div class="column">
        <div class="group growth">
            <label>Growth Rate (MoM)</label>
            <input #growthInput type="number" (focus)="onGrowthInputFocus($event)" (blur)="onGrowthInputBlur($event)" (keydown)="onGrowthInputKeyDown($event)">
        </div>

        <div class="group distribution">
            <time-seg-distribution
                    [distribution]="tempDist"
                    [variable-list]="variableList"
                    [variable-name]="variable.content.title"
                    [parentIsExpression]="false">
            </time-seg-distribution>
        </div>

        <div class="group description">
            <label>Description</label>
            <textarea [(ngModel)]="timesegment.description" type="text"></textarea>
        </div>
    </div>
</div>
