.fa-cubes {
    margin-right: 1px;
    margin-left: 6px;
    color: #999;
}

.system-model-label{
    white-space: nowrap;
    padding: 2px 8px 0 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlighted{
    cursor: pointer;
    background-color: #383838;
}

.selected{
    background-color: #428bca;
}

.selected > .fa {
    color: white;
}

.selected > * .icon-button {
    color: white;
}

.model-template-name {
    display: inline;
    user-select: none;
}

app-edit-in-place {
    display: inline-block;
    margin-top: -3px;
}

app-edit-in-place input {
    padding: 2px 4px;
    box-sizing: border-box;
}

.icon-button:hover{
    background-color:#606060;
}

.icon-button {
    color: #999;
    height:100%;
    padding: 0;
    border:none;
    background:none;
    padding-right: 3px;
    padding-left: 3px;
}

.icon-button:focus{
    outline: 0;
}

.popup-menu{
    display: block;
    position: absolute;
    box-shadow: 9px 14px 32px -8px rgba(0,0,0,0.75);
}

.more-graph-model-template-options{
    display: inline;
}

.highlighted .graph-model-template-options{
    display: block;
}

.graph-model-template-options{
    margin-right: 2px;
}
