input {
    border-radius: 5px;
    height: 21px;
    width: 100%;
    border-color: transparent;
}

.displayValue {
    padding-left: 3px;
    padding-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;
}

.value {
    padding-left: 3px;
    padding-top: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;
}

.spinner input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
