<div class="pull-left" style="margin: 1px 4px 1px 4px">
    <ul class="top-level-menu projects dropdown" data-testid="projects-dropdown">
        <li>
            <a (mouseover)="reloadProjectList()"><span class="fa fa-caret-down pull-right" style="margin-top: 7px"></span>{{projectNamePlaceholder}}</a>
            <ul class="dropdown-menu second-level-menu" [ngClass]="dropdownStatus">
                <li>
                    <a href=""
                       (click)="selectedMenu = 'projects'"
                       [routerLink]="['/project-list']"
                       [queryParams]="{addProject: 'true'}"
                       [class.active]="selectedMenu == 'projects'">☩ Add New Project</a>
                </li>
                <li style="border-bottom: 1px solid" data-testid="projects-dropdown-manage-projects">
                    <a href=""
                       (click)="selectedMenu = 'projects'"
                       routerLink="/project-list"
                       [class.active]="selectedMenu == 'projects'">🔍 Manage All Projects</a>
                </li>

                <li *ngFor="let project of projects" [id]="project.id" title="{{project.title}}" data-testid="projects-dropdown-list">
                    <a (click)="goToProject(project.id)" ><span [hidden]="isActiveProjectBranch(project.id)">✔ </span>{{project.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
