<div class="container-fluid">
    <div class="row" style="word-break: break-all">
        <h2><a routerLink="/project-list">Project</a>: {{selectedprojectName}}</h2>
    </div>

    <div class="row">
        <app-header title="Forecast Versions"></app-header>
    </div>
    <div class="row" style="word-break: break-all">
        <table-view #branchTable
            (row-edited)="onRowEdit($event)"
            (row-deleted)="onRowDelete($event)"
            (row-added)="onAddRow($event)"
            (row-selected)="onBranchSelected($event)"
            [cols]="columns"
            [show-inputRow]="showInputRow"
            [rows]="rows"
            [location]="location"
            data-testid="version-table"></table-view>
    </div>
</div>
