:host{
    pointer-events: all;
    position: absolute;
    user-select: none;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    box-sizing: border-box;
}

:host.isSelected:before {
    content: '';
    position: absolute;
    pointer-events: none;
    top: -6px;
    left: -6px;
    right: -6px ;
    bottom: -6px;
    border: 5px solid #ffe100;
    border-radius: 6px;
}

.inner {
    background: rgba(40, 40, 40, 0.9);
    margin: 3px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 2px 4px;
}

:host.source .inner {
    flex-direction: row-reverse;
}

:host.source .inner i {
    margin-left: 8px;
}

:host.destination .inner {
    flex-direction: row;
}

:host.destination .inner i {
    margin-right: 8px;
}