<div class="header">
    <label class="header-label">Breakdowns&nbsp;&nbsp;<span class="header-subtitle">(select to apply)</span></label>
</div>
<ul>
    <div *ngIf="availableBreakdownVariables !== undefined && availableBreakdownVariables.length > 0; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <li *ngFor="let variable of availableBreakdownVariables">
            <label data-testid="associate-var" class="list-label" title={{variable.description}}><input type="checkbox" (change)="handleCheck($event, variable)" [checked]="associatedBreakdownVariables.includes(variable)">{{variable.title}}</label>
        </li>
    </ng-template>
    <ng-template #elseBlock>
        <li>
            <label class="list-label-empty">No breakdowns available to apply</label>
        </li>
    </ng-template>
</ul>
