<div class="history-item" data-toggle="popover" data-placement="top" [title]="fullOutput">
    <div *ngIf="displayFields.includes('time')" class="item-info time">{{historyItem.time}}</div>
    <!--<div *ngIf="displayFields.includes('icon')" class="item-info icon"><i [ngClass]="historyItem.icon"></i></div>-->
    <div *ngIf="displayFields.includes('user')" class="item-info user">{{historyItem.user}}</div>
    <div *ngIf="displayFields.includes('action')" class="item-info action">{{historyItem.action}}</div>
</div>
