.history-item {
    padding: 5px;
    cursor: pointer;
    display: flex;
}

.item-info {
    padding-right: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action {
    padding-right: 5px;
}
