.distribution-container {
    cursor: text;
}

input {
    padding: 4px;
    width: 100%;
    max-width: 200px;
    color:black
}

.invalid-expression {
    outline: 2px solid red;
}

.expression {
    border: solid 1px #a3a3a3;
    height: 32px;
}

label {
    color: white
}