:host{
    position: absolute;
    width:100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.control-bar{
    display: flex;
    padding:5px;
    background: -webkit-linear-gradient(360deg, #404040, 10%, #949494  360%);
    background: -moz-linear-gradient(360deg,#404040, 10%, #949494 360%);
    background: linear-gradient(360deg, #404040, 10%, #949494 360%);
}

.right-group{
    display: flex;
    flex:1;
    justify-content: flex-end;
}

.right-group .port {
    background-color: #45a9ff;
    margin-right: 5px;
    padding: 5px;
    cursor: grab;
    min-width: 60px;
    border-radius: 4px;
    text-align: center;
}

button:focus{
    outline: none;
}

button{
    border:none;
}

input{
    font-size: 0px;
    color: rgb(182, 181, 181);
    border-width: 0px;
    border-color: transparent;
}

input:focus{
    outline: none;
}
release-selector{
    padding-left: 5px;
}

.result-list{
    background-color:rgb(248, 248, 241);
    width:450px;
    z-index: 5;
    border-radius: 2px;

}

ul {
    max-height: 277px;
    overflow-x: hidden;
    overflow-y:auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width:450px;

}

.help-box{
    background: transparent;
    border:none;
    padding: 5px;
    outline: none;
    color: white;
}

.help-left {
    text-align:left;
    padding-left: 3px;
}

.help-right {
    float:right;
    padding-right: 3px;
}
