.test{
    padding-left:0% !important;
    border-radius: 0px;
    margin-right: 50%;
    left: 30px !important;
}

.test .breadcrumb-item{
 color:black !important;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

