<div class="container-fluid" *ngIf="route.children.length === 0">
    <div class="row">
        <h2 style="padding-bottom:15px">Projects</h2>
    </div>
    <div class="row" style="word-break: break-all">
        <table-view
            (row-edited)="onRowEdit($event)"
            (row-begin-edit)="onBeginEdit($event)"
            (row-deleted)="onRowDelete($event)"
            (row-selected)="onProjectSelected($event)"
            (row-added)="onRowSave($event)"
            (row-viewBranches) = "onRowViewModelBranches($event)"
            [viewBranch-required] = "onModelTab"
            [cols]="columns"
            [show-inputRow]="showInputRow"
            [rows]="rows"
            [location]="location" data-testid="projects-table"></table-view>

    </div>
</div>

