
:host {
    white-space: nowrap;
    padding: 2px 8px;
}

:host:hover {
    background-color:lightgray;
}

:host.active {
    background-color:rgb(149, 150, 146);
}
.fa {
    color: black;
}

.display-user {
    display: inline-flex;
    color: black;
    width: 0px;


}

.display-user span {
    margin-left: 4px;
}
