:host{
    z-index:1002;
}

.editor {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background: white;
    box-shadow: 9px 14px 32px -8px rgba(0,0,0,0.75);
    max-width: 700px;
    text-align: left;
    font-size: var(--default-font-size);
    min-width: 210px;
}

.title-bar {
    height: 35px;
    background: #f5f5f5;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

.title-bar > .name {
    position: absolute;
    margin-left: 15px;
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    font-size: 120%;
    cursor: default;
    font-weight: bold;
}

.title-bar > .history {
    position: absolute;
    right: 15px;
    top: 6px;
}

.title-bar > .trash {
    position: absolute;
    right: 13px;
    background: none;
    border: 0;
    color: #d43f3a;
    padding: 0px;
}

.content {
    padding: 15px;
    display: block;
}

.type-specific {
    flex: 1;
    margin-bottom: 12px;
}
.group {
    margin-bottom: 12px;
}

.group.type {
    display: flex;
    align-items:baseline;
}

.group > label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.group > textarea {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    min-width: 247px;
    max-height: 300px;
    height: 45px;
    padding: 10px;
}

.custom-form-control {
    font-size: var(--default-font-size);
}
