<!--TODO: Uncomment when units are added to projection library-->
<div class="group unit">
    <label>Unit:&nbsp;&nbsp;</label>
    <select [(ngModel)]="variable.content.unit" class="form-control custom-form-control" (change)="onChangeUnit()">
        <option *ngFor="let unit of units" [value]="unit.title">{{unit.title}}</option>
    </select>
</div>

<div class="group associate-breakdown-variables">
    <associate-breakdown
            [variable]="variable"
            [allVariables]="allVariables"
            (associationChange)="updateAssociations($event)"></associate-breakdown>

</div>
