<nav class="navbar  navbar-expand-lg navbar-light bg-light navbar-expand-md" data-testid="navbar">
    <div class="container-fluid">
      <div style="vertical-align: middle;" class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">
          <li class="active title  nav-item" data-testid="navbar-home-page">
            <a href="" routerLink="">
              <img src="assets/images/GS-5.png">
              <span>GREENSIGHT</span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
              <form class="form-inline float-left" data-testid="navBar">
                  <button *ngIf=!isLoginPage class="btn btn-primary fa fa-cog" type="button"  (click)="openSettings()" title="Open Settings"></button>
                  <button *ngIf="showUserEditorPanels$ | async" class="btn btn-primary fa fa-user" type="button"  (click)="openUserEditor()" title="Open User Editor"></button>
                  <button *ngIf="currentUserIsAdmin$ | async" class="btn btn-primary fa fa-users" type="button"  (click)="openUserGroupEditor()"title="Open User Group Editor"></button>
                  <button *ngIf=!isLoginPage class="logout-button btn btn-info fa fa-sign-out-alt" (click)="logout($event)" title="Logout {{userName}}"></button>


              </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
