.folder-label {
    user-select: none;
    white-space: nowrap;
    padding: 2px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 4px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.folder-name {
    display: inline-flex;
    user-select: none;
    min-width: 0px;
    overflow: hidden;
}

.folder-name-icon{
    min-width: min-content;
    overflow: hidden;
    display: inline;
}

.folder-icon{
    padding-right: 1px;
    position: relative;
}

.folder-name-label {
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    padding-left: 4px;
}

.fa-folder-open, .fa-folder{
    color:#82CFFD;
    width: 14px;
}

.highlighted{
    cursor: pointer;
    background-color: #383838;
}

.highlighted .folder-options{
    display: flex;
    justify-content: center;
}

.icon-button:hover{
    background-color:#606060;
}

.icon-button{
    height:100%;
    padding: 0;
    padding-left:5px;
    padding-right:5px;
    border:none;
    background:none;
}

.icon-button:focus{
    outline: 0;
}

.popup-menu{
    display: block;
    position: absolute;
    box-shadow: 9px 14px 32px -8px rgba(0,0,0,0.75);
}

.more-folder-options{
    display: inline;
}

app-edit-in-place {
    display: inline-block;
    margin-top: -3px;
}

app-edit-in-place input {
    padding: 2px 4px;
    box-sizing: border-box;
}

.fa-plus{
    position:absolute;
    right: 0.2;
    font-size: 8px;
    right: -5px;
    bottom: 0;
    z-index: 1;
}

.fa-lock{
    position:absolute;
    bottom:0;
    left: 8px;
    font-size: 8px;
    z-index: 5;
    color:red;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}

li {
    margin: 2px 0 3px 0;
}

.empty {
    padding: 0 0 0 22px;
    color:#A8A8A8;
    cursor: default;
}

.display-owner {
    background-color:  #4d4949e3;
    font-size: x-small;
    color: rgb(214, 208, 208);
    border-radius: 3px;
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
    max-width: 55px;
    text-align: center;
    /*padding: 2px;*/
    padding: 0 5px;
    font-weight: normal;
    margin-left: 2px;
}

.folder-rename-field > .display-owner{
    margin: 0 2px 0 2px;
}

label {
    margin-bottom: 1px;
}

.selected{
    background-color: #428bca;
}
.readOnly {
    opacity: 0.5;
}
